<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="shortcut icon" href="./img/weather.png" type="image/x-icon">
    <title>Help</title>
</head>

<body>
    {{>header}}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet tortor vitae lacus ultrices, et dignissim
    ante venenatis. Vestibulum sed justo purus. Quisque nec felis quam. Vestibulum vitae ex turpis. Quisque volutpat vel
    dolor finibus malesuada. Suspendisse vehicula facilisis nunc, sit amet accumsan augue molestie nec. Sed sodales
    lacinia
    leo, sit amet vulputate elit bibendum eu. Pellentesque eget tortor justo. Donec vestibulum, enim mattis iaculis
    iaculis


    {{>footer}}
</body>

</html>