<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="shortcut icon" href="./img/weather.png" type="image/x-icon">
    <title>Help</title>
</head>

<body>
    {{>header}}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet tortor vitae lacus ultrices, et dignissim
    ante venenatis. Vestibulum sed justo purus. Quisque nec felis quam. Vestibulum vitae ex turpis. Quisque volutpat vel
    dolor finibus malesuada. Suspendisse vehicula facilisis nunc, sit amet accumsan augue molestie nec. Sed sodales
    lacinia
    leo, sit amet vulputate elit bibendum eu. Pellentesque eget tortor justo. Donec vestibulum, enim mattis iaculis
    iaculis,
    libero nisl dignissim elit, in pulvinar dolor erat ut nulla. Sed vel nunc ac nibh imperdiet egestas. Praesent sapien
    massa, fermentum in metus a, interdum mattis massa. Praesent tempus interdum ex, scelerisque faucibus magna
    consectetur
    at. Quisque eget tincidunt dui. In hac habitasse platea dictumst.

    Vivamus enim mi, vestibulum at dui ac, luctus vestibulum elit. Morbi cursus nunc lorem, pretium rhoncus ipsum
    porttitor
    vitae. Donec pretium, felis sed varius auctor, eros dui bibendum nisl, vitae molestie tellus odio nec ipsum. Duis
    malesuada, tortor sed pellentesque varius, mauris ligula egestas dui, eget egestas leo leo a purus. Pellentesque
    pulvinar dolor at viverra dignissim. Mauris vulputate, lorem sed volutpat accumsan, turpis lectus dapibus quam, a
    pharetra risus mi eu libero. Curabitur vitae elit quis ligula aliquet dictum eget ac sapien. Nam placerat nunc at
    libero
    porta, eget pellentesque purus condimentum. Etiam et justo eget elit dapibus semper. Quisque laoreet sapien et dui
    aliquam sollicitudin. Maecenas a cursus leo. In nec urna in tortor posuere tincidunt. Nam tristique luctus lectus et
    volutpat. Praesent ornare ullamcorper vulputate.
    {{>footer}}
</body>

</html>