<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="shortcut icon" href="./img/weather.png" type="image/x-icon">
    <title>Help</title>
</head>

<body>
    {{>header}}
    This app is a non-commercial project done following Nodejs course conducted by Andrew Mead on Udemy.
    <br> <a href="https://github.com/mmedhat1910/Node-Weather-App">Github Repo</a>


    {{>footer}}
</body>

</html>